<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<div class="container">
    <h2>Choose your source and destination</h2>
    <br>
    <form (submit)="formAction()">
      <div class="form-group" >
        <label for="source">Source:</label>
        <select id="source" class="form-control" name="source"  [(ngModel)]="routeInfo.source">
            <option *ngFor="let source of sources" [value]="source">
              {{source}}
            </option>
        </select>
      </div>
      <div class="form-group">
        <label for="destination">Destination:</label>
        <select id="destination" class="form-control" name="destination" [(ngModel)]="routeInfo.destination">
                <ng-container *ngFor="let destination of destinations">
                        <option *ngIf="destination!=routeInfo.source"  [value]="destination" >{{destination}}</option>
                </ng-container>
            
        </select>
      </div>
      <div class="form-group">
            <label for="date">Enter the amount to pay:</label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="dateOfJourney">
          </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  