
<a [routerLink]="['/bookTicket']">BookTicket</a>
<script>
  bookingHistory1=[];
  
  localStorage.setItem("bookingHistory1",JSON.stringify(bookingHistory1));
  console.log(JSON.parse(getItem("bookingHistory1")));
  </script>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: steelblue;">
      <a class="navbar-brand" href="#">African Railways</a>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Booking</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/pnr" routerLinkActive="active">PNR</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
      </ul>

  </nav>
  <router-outlet></router-outlet>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

