<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
</div>


<div class="holder">
    <label>Email </label>
    <label class="slash">:</label>
    <input type="text" class="in" readonly value="email@example.com">
</div>

<div class="holder">
    <label>User Name </label>
    <label class="slash">:</label>
    <input type="text" class="in" readonly value="email@example.com">
</div>

<div class="holder">
    <label>Phone Number </label>
    <label class="slash">:</label>
    <input type="text" class="in" readonly value="email@example.com">
</div>

<div class="holder">
    <label>Transactions </label>
    <label class="slash">:</label>
    <input type="button" class="btn btn-primary" readonly value="check">
</div> -->

<div class="container">
    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="name" value={{detail.name}} >
        </div>
    </div>
    <div class="form-group row">
        <label for="un" class="col-sm-4 col-form-label">User Name</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="un" value={{detail.userName}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{detail.email}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="num" class="col-sm-4 col-form-label">Mobile</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" id="num" value={{detail.mobileNo}}>
        </div>
    </div>
   
</div>

