label {
    display: inline-block;
    width: 150px;
    text-align: right;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 17px;
}

.container {
    margin-top: 50px;
}